.home-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.logo-section {
    display: flex;
    align-items: center;
    /* vertical alignment */
    gap: 8px;
    /* space between image and text */
}

.logo-image {
    width: 32px;
    /* adjust size as needed */
    height: 32px;
}

.logo {
    font-size: 18px;
    font-weight: 600;
    color: #16a34a;
    /* green */
}

.menu {
    display: flex;
    gap: 32px;
    font-weight: bold;

}

.menu a {
    color: #444;
    text-decoration: none;
}

.menu a:hover {
    color: #16a34a;
}

.auth {
    display: flex;
    gap: 24px;
}