/* Place this in your main CSS (index.css or App.css) if you'd like site-wide */
:root {
  --container-max-width: 1600px;
  /* adjust site width here */
  --gutter: 24px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1024px;
}

/* Basic container used across pages */
.container {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}